:root {
  --gap: 15rem;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.no-link {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}



/* Utility classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  padding-top: 20px;
  height: auto;
  width: 100%;
  gap: 2rem;
  position: fixed;
  z-index: 999;

}

.main-hero {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 50px;
}

.nav-center {
  border-radius: 30px;
  gap: 2rem;
  /* 1rem = 16px */
  padding: 18px 60px;
  background: linear-gradient(to right, #697565, #ecdfcc);
  backdrop-filter: grayscale(100%);
}

.menu {
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero {
  line-height: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 3px 60px;
}

.image {
  position: relative;
  height: auto;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.avtart-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: url(images/Myimage1.png);
  background-size: cover;
  transition: all 1s;
}

.avtart-img:hover {

  background-image: url(images/Myimage1.png);
  transition: all 1s;
}


.location-icon {
  color: rgb(232, 57, 13);
  font-size: 18px;
  margin-right: 6px;
}

.location-text {
  font-size: 18px;
}

.icons {
  display: flex;
  gap: 20px;
  width: 60%;
  margin: 0px auto;
  justify-content: center;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  background: #111;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s ease;
}


.icon:hover {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  background: #ffffff;
  box-shadow: 0 0 10px #8d5d5d, 0 0 10px #8d5d5d, 0 0 10px #8d5d5d;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  transform: scale(1.1);
}

.resume-button {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.btn {
  gap: 20px;
  padding: 12px 30px;
  border: 2px solid #01002a;
  border-radius: 30px;
  background: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: white;
  color: black;
  box-shadow: 0 0 10px #8d5d5d, 0 0 10px #8d5d5d, 0 0 10px #8d5d5d;
  transform: scale(1.1);
}

.project-heading {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-top: 12px;
  padding: 12px;
  gap: 10px;
}

.fa-heart {
  color: #f96706;
  font-size: 25px;
}

.skills-section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  justify-content: center;
}

.main2 {
  width: 12rem;
  height: 10rem;
  border-radius: 25px;
  position: relative;
  -webkit-box-pack: center;
  /* justify-content: center; */
  -webkit-box-align: center;
  /* align-items: center; */
  margin-bottom: 1rem;
  overflow: hidden;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 1rem; */
  /* padding: 1rem; */
  background: rgb(2, 6, 23);
  border: 2px solid rgb(38, 35, 56);
  opacity: 1;
  transform: translateY(30px) scale(0.9);
  animation: 0.6s ease-out 0s 1 normal forwards running skillCardEntrance;
  cursor: pointer;
  color: white;
}

.main2 img {
  width: 60px;
  height: 60px;
  margin-top: 25px;
}

.border::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 20rem;
  left: 4.5rem;
  top: -40%;

  animation: 8s linear 0s infinite normal none running barra;
  border-radius: 10px;
  opacity: 1;
  transition: 0.4s;
}

.border::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: rgb(13, 2, 13);
  border-radius: 20px;
  transition: 0.3s;
}

.b1::before {
  background: #3a49ae;
}

.b2::before {
  background: #0180cd;
}

.b3::before {
  background: #de8e2f;
}

.b4::before {
  background: #34a853;
}

.b5::before {
  background: #03589c;
}

.b6::before {
  background: #e91e63;
}

.b7::before {
  background: #ff6d01;
}

.b8::before {
  background: #0328fc;
}

.b9::before {
  background: #de8e2f;
}

.b10::before {
  background: #ff6d01;
}

.b11::before {
  background: #676974;
}

.b12::before {
  background: #38bdf8;
}

.main2:hover .border::before {
  /* stop animation */
  animation-play-state: paused;
}

.m1:hover {
  border: solid 4px #2c41c5;
}

.m2:hover {
  border: solid 4px #2284c0;
}

.m3:hover {
  border: solid 4px #fefe01;
}

.m4:hover {
  border: solid 4px #34a853;
}

.m5:hover {
  border: solid 4px #0328fc;
}

.m6:hover {
  border: solid 4px #f91880;
}

.m7:hover {
  border: solid 4px #fc4503;
}

.m8:hover {
  border: solid 4px #207fd2;
}

.m9:hover {
  border: solid 4px #fefe01;
}

.m10:hover {
  border: solid 4px #fc4503;
}

.m11:hover {
  border: solid 4px #7e839d;
}

.m12:hover {
  border: solid 4px #38bdf8;
}

@keyframes barra {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#typing-text {
  border-right: 2px solid #fff;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.main img {
  z-index: 999;
}

.main h4 {
  z-index: 999;
  color: white;
}

.top-right-arrow {
  background: #000000;
  height: auto;
  width: 70%;
  top: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.arrow-image {
  padding: 20px 0;
  cursor: pointer;
}

.heading h3 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
}

.heading h4 {
  font-size: 20px;
  height: 60px;
  padding: 10px 0;
  font-weight: 400;
  color: #ffffff;
  font-style: italic;
  margin-left: 0px;
}

.footer {
  padding: 1rem 1rem 5rem 1rem;
  background: #000000;
}

.footer_content {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}

.social-container {
  height: 80px;
  color: white;
  display: grid;
  gap: 10px;
}

.social-btn {
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin-right: 15px;
  background-color: #18181b;
}

.social-btn:hover {
  background-color: #27272a;
}

.right-content {
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  line-height: 24px;
  padding: 10px;
}

.fotter-form {
  gap: 10px;
  color: white;
}

.form-content {
  height: auto;
  width: 100%;
  gap: 10px;
}

.form_part_1 {
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 10px;
}

.form_part_1 div {
  width: 100%;
  height: auto;
  padding: 0px 10px;
}

.form_part_1 input {
  background-color: #27272a;
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
}

.form_part_1 input:focus {
  outline: none;
  border: solid 1px #3b82f6;
}

.form_part_2 {
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.form_part_2 div {
  width: 100%;
  height: auto;
  padding: 0px 10px;
}

.form_part_2 textarea {
  border-style: solid;
  border-color: #3f3f46;
  background-color: #27272a;
  color: white;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  padding: 10px 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.form_part_2 textarea:focus {
  outline: none;
  border: solid 1px #3b82f6;
}


.message {

  border-style: solid;
  border-color: #3f3f46;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: -30px;
  left: 10px;

}

.btn1 {
  margin-bottom: 10px;
  border-style: solid;
  border-color: #3f3f46;
  background-color: #18181b;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn2 {
  border-style: solid;
  border-color: #3f3f46;
  background-color: #18181b;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sub-hero {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.part1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-btn {
  background: linear-gradient(to right, #ef3c95, #8f3cfa);
  border-radius: 10px;
  color: white;
  align-items: center;
  border: none;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background: linear-gradient(to right, #ef3c95, #8f3cfa);
  transform: scale(1.1);
  border-radius: 10px;
  color: white;
  align-items: center;
  border: none;
  display: flex;
  gap: 10px;
  padding: 10px;
}

/* INNER DOT */
.cursor-dot {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: difference;
}

/* OUTER OUTLINE */
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid #01002a;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  z-index: 9998;


}

/* HOVER SCALE */
.cursor-outline.active {
  transform: translate(-50%, -50%) scale(1.8);
}

.splash {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.splash img {
  width: 50%;
  object-fit: cover;
}

/* fade + zoom animation */
.hide-splash {
  animation: fadeOut 1s ease forwards, zoomOut 1s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes zoomOut {
  to {
    transform: scale(10.5);
  }
}

html {
  scroll-behavior: smooth;
}