@media screen and (max-width: 600px) {
  :root {
    --gap: 3rem;
  }

  /* NAVBAR */
  .navbar {
    position: fixed;
    gap: 1rem;
    z-index: 999;
    bottom: 30px;
  }

  .nav-center {
    padding: 12px 20px;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .menu {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* HERO SECTION */
  .main-hero {
    padding-top: 0px;
    row-gap: 15px;
  }

  .hero {
    width: 100%;
    padding: 10px 20px;
    flex-direction: column;
    gap: 20px;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }

  /* ICONS */
  .icons {
    width: 100%;
    justify-content: center;
    gap: 15px;
  }

  .icon {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }

  .image {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resume-button {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  /* BUTTONS */
  .btn {
    padding: 10px 24px;
    font-size: 15px;
  }

  /* PROJECT HEADING */
  .project-heading {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
  }

  /* SKILLS SECTION */
  .skills-section {
    display: grid;
    grid-template-columns: auto auto;

  }

  .main2 {

    width: 12rem;
    height: 10rem;
  }

  .main2 img {
    width: 45px;
    height: 45px;
    margin-top: 15px;
  }

  .top-right-arrow {
    background: #000000;
    height: auto;
    width: 100%;
    top: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  /* FOOTER */
  .footer_content {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 20px;
  }

  .right-content {
    text-align: center;
    font-size: 14px;
  }

  /* FORM */
  .form_part_1 {
    flex-direction: column;
  }

  .form_part_1 div,
  .form_part_2 div {
    padding: 0;
  }

  .message {
    position: static;
    margin-top: 10px;
  }

  .social-container {
    height: auto;
    color: white;
    display: grid;
    width: 100%;
    gap: 10px;
  }

  .social-btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-right: 15px;
    background-color: #18181b;
  }

  /* SPLASH */
  .splash img {
    width: 70%;
  }

  /* INNER DOT */
  .cursor-dot {
    display: none;
    width: 10px;
    height: 10px;
    background: #000000;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  /* OUTER OUTLINE */
  .cursor-outline {
    display: none;
    width: 30px;
    height: 30px;
    border: 2px solid #01002a;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    z-index: 9998;
  }

  .sub-hero {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0px auto;
  }

  .part1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}